{# based on http://djangosnippets.org/snippets/93/ #}
{% load debug_tags %}{% load cycle from future %}{% if debug %}
<div id="debugQueries" style="font-size: 12px; line-height: 15px; letter-spacing: 0.5px;">
  <p>
    {{ sql_queries|length }} {{ sql_queries|pluralize:"Query,Queries" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Hide</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" cellspacing="0" cellpadding="5">
    <col width="35"></col>
    <col width="50"></col>
    <col></col>
    <thead>
      <tr>
        <th style="padding: 3px; font-weight: bold;" scope="col" align="right">#</th>
        <th style="padding: 3px; font-weight: bold;" scope="col">Time</th>
        <th style="padding: 3px; font-weight: bold;" scope="col">SQL</th>
      </tr>
    </thead>
    <tbody>
      {% for query in sql_queries %}<tr class="{% cycle 'odd' 'even' %}" valign="top">
        <td style="padding: 3px; text-align: right;">{{ forloop.counter }}</td>
        <td style="padding: 3px;">{{ query.time }}</td>
        <td style="padding: 3px;">{{ query.sql|format_sql }}</td>
      </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
